.widget-container {
   -fx-background-color: #FFFFFF;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-border-color: #4B0081;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 1)
    -fx-cursor: move;
}

.widget-container:hover {
    -fx-effect: dropshadow(gaussian, rgba(75,0,129,0.3), 10, 0.5, 0, 0);
}

.chart-legend-item-symbol.default-color0 {
    -fx-background-color: #9032BB;
}

.default-color0.chart-series-line {
    -fx-stroke: #01B8AA;
}

.default-color0.chart-line-symbol {
    -fx-background-color: #01B8AA;
}

.ChartTags-Title{
    -fx-font-weight: bold;
}

.Special-Text{
    -fx-text-fill: #9032BB;
    -fx-font-weight: bold;
}

#progressBarChart .default-color0.chart-bar {
    -fx-bar-fill: #F2C80F;
}