.widget-container {
    -fx-border-color: #AAAAAA;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-color: #FFFFFF; /* CRÍTICO: Garante que o contêiner capture o evento do mouse */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 0);
    -fx-cursor: move; /* Feedback visual */
}

/* Opcional: Adiciona um efeito ao passar o mouse */
.widget-container:hover {
    -fx-effect: dropshadow(gaussian, rgba(75,0,129,0.3), 10, 0.5, 0, 0);
}

/* Seus estilos de cores de gráfico (já existentes) */
.chart-legend-item-symbol.default-color0 {
    -fx-background-color: #9032BB;
}

.default-color0.chart-series-line {
    -fx-stroke: #01B8AA;
}

.default-color0.chart-line-symbol {
    -fx-background-color: #01B8AA;
}

.ChartTags-Title{
    -fx-font-weight: bold;
}

.Special-Text{
    -fx-text-fill: #9032BB;
    -fx-font-weight: bold;
}

#progressBarChart .default-color0.chart-bar {
    -fx-bar-fill: #F2C80F;
}