#leftMenu {
    -fx-background-color: A066CB;
    -fx-background-radius: 0 25 25 0;
    -fx-transition: -fx-pref-width 0.6s ease-out;
}

#leftMenu:hover{
    -fx-pref-width: 325;
}

.menuLabel {
    -fx-opacity: 0;
    -fx-pick-on-bounds: false;
    -fx-transition: -fx-opacity 0.2s ease-in-out;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-max-width: 0;
}

.hBox:hover{
    -fx-background-color: #9032BB;
    -fx-cursor: hand;
    -fx-pref-width: 325;
}


#leftMenu:hover .menuLabel{
    -fx-opacity: 1;
    -fx-cursor: hand;
    -fx-max-width: use-computed-size;
}


