.goal-template-structure {
    -fx-padding: 3px;
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-text-fill: #333333;
    -fx-border-width: 2;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: transparent;
}

/* Estilo quando o mouse passar por cima */
.goal-template-structure:hover, .hbox-goal-template:hover {
    -fx-background-color: #D6D6D6;
    -fx-border-color: #4B0081;
}

.hbox-goal-template {
    -fx-padding: 10;
    -fx-alignment: BOTTOM_LEFT;
    -fx-spacing: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0, 0, 2);
    -fx-background-color: #F6F6F6;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-pref-height: 100;
    -fx-cursor: hand;
}