@font-face{
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf');
}

.label {
    -fx-font-family: 'Poppins';
}

/*header*/
.header-label{
    -fx-text-fill: #4B0081;
    -fx-font-size: 32;
}

#leftMenu {
    -fx-background-color: A066CB;
    -fx-background-radius: 0 25 25 0;
    -fx-transition: -fx-pref-width 0.6s ease-out;
}

#leftMenu:hover{
    -fx-pref-width: 325;
}

.menuLabel {
    -fx-opacity: 0;
    -fx-pick-on-bounds: false;
    -fx-transition: -fx-opacity 0.2s ease-in-out;
    -fx-font-size: 20px;
    -fx-max-width: 0;
}

.hBox{
    -fx-background-color: transparent;
}

.hBox:hover{
    -fx-background-color: #9032BB;
    -fx-background-radius: 100;
    -fx-cursor: hand;
    -fx-pref-width: 325;
}


#leftMenu:hover .menuLabel{
    -fx-opacity: 1;
    -fx-cursor: hand;
    -fx-max-width: 325;
    -fx-padding: 0 0 0 15;
}

#leftMenu:hover #tmpCenter{
    -fx-background-color: gray;
}

.hBox.selecionado{
    -fx-background-color: #9032BB;
    -fx-background-radius: 100;
}

.button {
    -fx-font-size: 24;
}

.basic-button {
    -fx-background-color: #AF69CD;
    -fx-border-radius: 15;
    -fx-background-radius: 10;
    -fx-text-align: center;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-padding: 3;
}

.basic-button:hover{
    -fx-background-color: #9032BB;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0, 0, 4)
}

.cancel-button{
    -fx-background-color: #DDDDDD;
    -fx-border-radius: 15;
    -fx-background-radius: 10;
    -fx-text-align: center;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-padding: 3;
}

.cancel-button:hover{
    -fx-background-color: #d6d6d6;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0, 0, 4)
}

.filter-button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #4B0081;
    -fx-padding:0;
}

.filter-button:hover{
    -fx-text-fill: #9032BB;
    -fx-cursor: hand;
}

.search-bar{
    -fx-background-color: #DDDDDD;
    -fx-background-radius: 15;
    -fx-pref-width: 250;
    -fx-pref-height: 30;
    -fx-font-size: 16;
}

.search-bar:hover{
    -fx-background-color: #d6d6d6;
}

.search-bar:focused{
    -fx-background-color: #d6d6d6;
    -fx-border-color: #4B0081;
    -fx-border-radius: 15;
}

.return-button{
    -fx-background-color: transparent;
}
.return-button:hover{
    -fx-cursor: hand;
}

/*Choice Box Select*/

.choice-box .label{
    -fx-font-size: 16;
    -fx-alignment: BOTTOM_LEFT;
}

.choice-box .context-menu {
    -fx-padding: 10;
    -fx-background-radius: 10;
}

.choice-box .arrow {
    -fx-background-color: transparent;
}

.choice-box .menu-item{
    -fx-background-radius: 10;
    -fx-background-color: transparent;
}

.choice-box .menu-item * {
    -fx-background-color: transparent;
    -fx-text-fill: #4B0081;
    -fx-font-size: 20;
}

.choice-box .menu-item:hover {
    -fx-background-color: #DDDDDD;
    -fx-border-color: #4B0081;
    -fx-border-radius: 15;
}

