.context-menu-buttons {
    -fx-background-color: #F6F6F6;
    -fx-padding: 15 5;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0, 0, 5);
}

.context-menu-buttons * {
    -fx-font-size: 20;
    -fx-text-fill: white;
}

.menu-item {
    -fx-background-color: transparent, #AF69CD;
    -fx-background-insets: 0, 3;
}

.menu-item .label {
    -fx-pref-width: 150;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.notification-badge {
    -fx-background-color: #E02F2F;
    -fx-background-radius: 50%;
    -fx-text-fill: white;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-padding: 0 4px;
    -fx-alignment: center;
}