@font-face{
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf');
}

* {
    -fx-font-family: 'Poppins';
}

.label {
    -fx-font-size: 16;
}

.big-label {
    -fx-font-size: 24;
}

.mid-label {
    -fx-font-size: 20;
}

/*Messages*/
.message {
    -fx-text-fill: #4B0081;
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-max-width: 400;
    -fx-max-height: 150;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 8, 0, 0, 0);
    -fx-alignment: center;
}

.message-header {
    -fx-background-radius: 10 10 0 0;
    -fx-padding: 10;
}

.message-header-success{
    -fx-background-color: #AF69CD;
}

.message-header-error{
    -fx-background-color: #E02F2F;
}

.message-header-label {
    -fx-alignment: center-left;
    -fx-font-size: 24;
    -fx-text-fill: white;
    -fx-pref-width: 1000;
}

.close-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 36;
    -fx-scale-x: 1.3;
    -fx-scale-y: 1;
    -fx-padding: 4 10 4 10;
    -fx-cursor: hand;
}

.x-button {
    -fx-background-image: url("../img/xButton.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 25;
    -fx-pref-height: 25;
}

.x-button:hover {
    -fx-background-image: url("../img/xButtonHover.png");
    -fx-cursor: hand;
}

/*header*/
.header-label{
    -fx-text-fill: #4B0081;
    -fx-font-size: 32;
}

#leftMenu {
    -fx-background-color: A066CB;
    -fx-background-radius: 0 25 25 0;
}


.menuLabel {
    -fx-pick-on-bounds: false;
    -fx-font-size: 20px;
}

.hBox{
    -fx-background-color: transparent;
}

.hBox:hover{
    -fx-background-color: #9032BB;
    -fx-background-radius: 100;
    -fx-cursor: hand;
}

#leftMenu:hover .menuLabel{
    -fx-cursor: hand;
    -fx-padding: 0 0 0 15;
}

#leftMenu:hover #tmpCenter{
    -fx-background-color: gray;
}

.hBox.selecionado{
    -fx-background-color: #9032BB;
    -fx-background-radius: 100;
}

.button {
    -fx-font-size: 20;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.basic-button {
    -fx-background-color: #AF69CD;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-align: center;
    -fx-text-fill: white !important;
    -fx-font-size: 20;
    -fx-cursor: hand;
    -fx-padding: 3 10;
}

.basic-button:hover{
    -fx-background-color: #9032BB;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0, 0, 4)
}

.cancel-button{
    -fx-background-color: #DDDDDD;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-align: center;
    -fx-text-fill: #555555;
    -fx-font-size: 20;
    -fx-padding: 3;
}

.cancel-button:hover{
    -fx-background-color: #d6d6d6;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0, 0, 4);
}

.filter-menu {
    -fx-padding: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 2);
    -fx-background-color: f6f6f6;
    -fx-background-radius: 10;
    -fx-border-color: 333333;
    -fx-border-radius: 10;
    -fx-border-width: 1.5;
}

.filter-button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #4B0081;
    -fx-padding:0;
}

.filter-button:hover{
    -fx-text-fill: #9032BB;
    -fx-cursor: hand;
}

.confirm-filter-button {
    -fx-background-color: transparent;
    -fx-padding: -1 10;
    -fx-font-size: 18;
    -fx-text-fill: #555555;
    -fx-cursor: hand;
}

.confirm-filter-button:hover {
    -fx-background-color: #d6d6d6;
    -fx-text-fill: #333333;
}

.search-bar{
    -fx-background-color: #DDDDDD;
    -fx-background-radius: 20;
    -fx-pref-width: 250;
    -fx-pref-height: 30;
    -fx-font-size: 16;
}

.search-bar:hover{
    -fx-background-color: #d6d6d6;
}

.search-bar:focused{
    -fx-background-color: #d6d6d6;
    -fx-border-color: #4B0081;
    -fx-border-radius: 20;
}

.return-button{
    -fx-background-image: url("../img/arrow-left.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20 20;
    -fx-background-color: transparent;
    -fx-padding: 8 25;
    -fx-cursor: hand;
}
.return-button:hover{
    -fx-cursor: hand;
}

/*Choice Box Select*/

.choice-box .label{
    -fx-font-size: 16;
    -fx-alignment: BOTTOM_LEFT;
}

.choice-box .context-menu {
    -fx-padding: 10;
    -fx-background-radius: 10;
}

.choice-box .arrow {
    -fx-background-color: transparent;
}

.choice-box .menu-item{
    -fx-background-radius: 10;
    -fx-background-color: transparent;
}

.choice-box .menu-item * {
    -fx-background-color: transparent;
    -fx-text-fill: #4B0081;
    -fx-font-size: 20;
}

.choice-box .menu-item:hover {
    -fx-background-color: #DDDDDD;
    -fx-border-color: #4B0081;
    -fx-border-radius: 15;
}

.label-not-editable {
    -fx-background-color: transparent;
    -fx-cursor: default;
    -fx-font-size: 16;
}

.label-editable {
    -fx-background-color: #DDDDDD;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-font-size: 16;
}

.label-editable:hover {
    -fx-background-color: #d7d7d7;
}

.label-editable:focused {
    -fx-border-color: #4B0081;
    -fx-border-radius: 10;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 8px;
}

.scroll-pane {
    -fx-background-color: #F6F6F6;
    -fx-border-color: transparent;
}

.scroll-pane .scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-height: 8px;
}

.scroll-bar .thumb {
    -fx-background-color: #AF69CD;
    -fx-background-radius: 4px;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #4B0081;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 0;
}

.formInput {
    -fx-border-radius: 10px;
    -fx-border-color: #4B0081;
    -fx-border-width: 2px;
    -fx-background-color: transparent;
    -fx-font-size: 16;
    -fx-cursor: hand;
}

.formInput-label-focused {
    -fx-text-fill: #4B0081;
    -fx-padding: 1 15;
}

.date-picker {
    -fx-padding: 0 10 4 0;
}

.date-picker .text-field {
    -fx-background-color: transparent;
    -fx-alignment: bottom-left;
}

.date-picker .arrow-button {
    -fx-scale-x: 0;
    -fx-scale-y: 0;
}

.date-picker-popup {
    -fx-background-color: #F6F6F6;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #4B0081;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0, 0, 2);
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.date-picker-popup * {
    -fx-text-fill: #4B0081;
}

.date-picker-popup .calendar-grid,
.date-picker-popup .month-year-pane,
.date-picker-popup .spinner .button,
.date-picker-popup .spinner {
    -fx-background-color: transparent;
}

.date-picker-popup .day-cell {
    -fx-background-color: #F6F6F6;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.date-picker-popup .day-cell:hover {
    -fx-border-color: #4B0081;
    -fx-background-color: #DDDDDD;
}

.date-picker-popup .previous-month,
.date-picker-popup .next-month {
    -fx-background-color: #DDDDDD ;
}

.date-picker-popup .today {
    -fx-background-color: #E6CCEF ;
}

.date-picker-popup .selected {
    -fx-background-color: #CB9BDE ;
}

.date-picker-popup .calendar-grid {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-padding: 2;
}

.separator {
    -fx-background-color: transparent;
}

.separator .line {
    -fx-border-color: #4B0081;
    -fx-border-width: 1;
    -fx-border-radius: 1;
}

.label-status {
    -fx-background-color: grey;
    -fx-background-radius: 10;
    -fx-padding: 2 8;
    -fx-text-fill: white;
    -fx-font-size: 14;
}

.check-box {
    -fx-background-color: transparent;
    -fx-pref-height: 30;
    -fx-max-height: 30;
    -fx-text-align: center;
    -fx-font-size: 16;
    -fx-cursor: hand;
    -fx-padding: 3 5;
}

.check-box .box {
    -fx-background-color: #9032BB, #f6f6f6;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5, 3;
    -fx-pref-width: 20;
    -fx-pref-height: 20;
}

.check-box .mark {
    -fx-shape: "M1,0 H4 A1,1 0 0 1 5,1 V4 A1,1 0 0 1 4,5 H1 A1,1 0 0 1 0,4 V1 A1,1 0 0 1 1,0 Z";
    -fx-background-color: transparent;
    -fx-scale-x: 0;
    -fx-scale-y: 0;
}

.check-box:selected .mark {
    -fx-background-color: #9032BB;
    -fx-opacity: 1;
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
    -fx-translate-x: -0.5;
    -fx-translate-y: -0.25;
}

.titled-pane,
.titled-pane .title,
.titled-pane .content {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-effect: none;
}

.titled-pane .arrow {
    -fx-shape: null;
    -fx-background-color: transparent;
}

.titled-pane .arrow-button {
    -fx-background-image: url("../img/up.png");
    -fx-background-size: 15 15;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 5;
    -fx-rotate: 180;
    -fx-scale-x: 1.2;
}

.titled-pane:expanded .arrow-button {
    -fx-rotate: 0;
}

.context-menu-buttons {
    -fx-background-color: white;
    -fx-padding: 6;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0, 0, 5);
}

.context-menu-buttons * {
    -fx-font-size: 16;
    -fx-text-fill: white;
}

.menu-item {
    -fx-background-color: transparent, #AF69CD;
    -fx-background-insets: 0, 3;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-align: center;
    -fx-cursor: hand;
}

.menu-item .label {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.menu-item:hover {
    -fx-background-color: #9032BB;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0, 0, 4)
}